<!DOCTYPE html>

<html>
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

       <div class="blogs content">
        <h3>About Us</h3>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis enim earum quam accusantium repudiandae inventore adipisci voluptas maxime ea vitae dolores, sit illum quae illo eveniet iusto, quibusdam aliquam esse?</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis enim earum quam accusantium repudiandae inventore adipisci voluptas maxime ea vitae dolores, sit illum quae illo eveniet iusto, quibusdam aliquam esse?</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis enim earum quam accusantium repudiandae inventore adipisci voluptas maxime ea vitae dolores, sit illum quae illo eveniet iusto, quibusdam aliquam esse?</p>
       </div>
        
       <%- include('./partials/footer.ejs') %>
    </body>
</html>